.dropdown-content.sub-menu::before {
  background-color: #494949;
  right: 0;
}

.dropdown-content.sub-menu {
  /* min-width: 30vw; */
  width: 110px;
  border: 0.6px solid #494949;
  right: 4px;
  top: 26px;
  display: flex;
  flex-direction: column;
}

.poptop .dropdown-content.sub-menu {
  top: -118px;
}

.poptop .dropdown-content.home.sub-menu {
  top: -73px;
}

.poptop .dropdown-content.sub-menu::before {
  background-color: #494949;
  top: 83px;
  /* TODO: make look pretty */
}

.poptop .dropdown-content.home.sub-menu::before {
  background-color: #494949;
  top: 47px;
}

div.priority-adjust {
  display: flex;
  justify-content: space-around;
  /* padding: 5px; */
  /* padding: 0px; */
}

div.priority-adjust button {
  height: 1.5rem;
  text-align: center;
  padding: 3px;
}

.priority-adjust .activated {
  background-color: #999999;
  border-radius: 4px;
}

/* Change color of dropdown links on hover */
/* .dropdown-content span:hover {background-color: #ddd;} */
