/* div {
    display: flex;
    gap: 30px;
} */
/* 
iframe {
    -moz-transform: scale(0.25, 0.25); 
    -webkit-transform: scale(0.25, 0.25); 
    -o-transform: scale(0.25, 0.25);
    -ms-transform: scale(0.25, 0.25);
    transform: scale(0.25, 0.25); 
    -moz-transform-origin: top left;
    -webkit-transform-origin: top left;
    -o-transform-origin: top left;
    -ms-transform-origin: top left;
    transform-origin: top left;
  } */

/* #scaled-frame {
    zoom: 0.0001;
    -moz-transform: scale(0.0001);
    -moz-transform-origin: 0 0;
    -o-transform: scale(0.0001);
    -o-transform-origin: 0 0;
    -webkit-transform: scale(0.0001);
    -webkit-transform-origin: 0 0;
  }

  @media screen and (-webkit-min-device-pixel-ratio:0) {
    #scaled-frame {
      zoom: 0.00001;
    }
  }

  #wrap {
    padding: 0;
    overflow: hidden;
  } */