
#home-contents svg {
    height: 19px;
    fill: #494949;
}

#home-contents .complete-count {
    margin-left: 10px;
    color: #494949;
}

div.bottom-line {
    border-bottom: 1.5px solid #494949;
  }

#home-contents li {
    min-height: 30px;
    margin: 10px;
    border: 1.5px solid #494949;
    border-radius: 8px;
}

li textarea {
    margin-left: 0;
}