/* .dropdown-content.sort-menu {
    right: -30vw;
    top: -2vh;
    min-width: 25vw;
  } */

/* #sort-div {
   width: auto;
 }

  */

.sorting_text {
  color: white;
  font-size: small;
  white-space: nowrap;
}

select {
  margin-left: 1vw;
  border-radius: 1vw;

}

/* Get rid of blue outline on select element */
select:focus
{
    outline:0px; 
}