#top_bar {
    order: 0;
    background: #595959;
    padding: 1vh 0;
    height: 10vh;

    /* top bar's own flexbox */
    flex-direction: row;
    align-items: center;
    display: flex;
    justify-content: space-around;
    /* take up whole width */
    width: 100%;
}

#top_bar svg {
    flex: 0 0 auto;
    height: 7vh;
    width: auto;
    fill: white;
}

/* .sorting_text {
    color: white;
    font-size: small;
    white-space: nowrap;
} */

#top_bar > * {
    width: auto;
}

#app-title {
    color: white;
    font-size: xx-large;
    font-weight: bold;
}