#top_bar {
    order: 0;
    background: #494949;
    /* padding-right: 6px; */
    height: 64px;

    /* top bar's own flexbox */
    flex-direction: row;
    align-items: center;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    /* take up whole width */
    width: 100%;
}

#top_bar > button, #top_bar > #top_bar_title {
    padding: 0px 10px;
}

#top_bar svg {
    flex: 0 0 auto;
    height: 45px;
    width: auto;
    fill: white;
}

#top_bar > * {
    width: auto;
}

#top_bar_title {
    color: white;
    font-size: xx-large;
    font-weight: bold;
}